RewriteEngine On

# Redirect all requests to index.php except for actual files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect to index.php for all routes
RewriteRule ^(.*)$ index.php [QSA,L]
